footer{
	background: #47526c;
}
.shadow{
	    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
    overflow: auto;
}
.header {
    background: #ffffff;

}
div{

    display: block;
}
#body{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f2f2f5;
}
*{
box-sizing: border-box;
}

.container{
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;

}
#heading{
text-align: center;
font-family: arvo;
color:#374054;
}
#bq{
	border-left: 4px solid #426db2;
    margin-left: 10px;
    padding: 10px 20px;
    margin: 20px;
    font-size: 17.5px;
}

#subutton{
	color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
#subpane{
	text-align: center;
}
#end{
	position: absolute;
    left: 0;
    bottom: 0;

}
